body {
  background-color: #eee;
  font-family: Open Sans; }

main {
  max-width: 1200px;
  margin: 0 auto;
  color: #343434;
  display: block; }
  main h1 {
    font-size: 2em; }
  main img {
    width: 250px;
    display: none; }
    main img.logo-show {
      display: block; }
