.circle {
  border-radius: 50%;
  min-width: 100px;
  min-height: 100px;
  background-color: #2c6c80;
  position: relative;
  margin: 10px; }

.circle::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 10px;
  margin-top: -5px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9; }

.circle::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 10px;
  margin-left: -5px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9; }

body {
  background-color: #eee;
  font-family: Open Sans; }

main {
  max-width: 1200px;
  margin: 0 auto;
  color: #343434; }
  main .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  main .flex-container-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    main .flex-container-image .circle {
      display: none; }
    main .flex-container-image .logo-show {
      display: inline; }
  main h1 {
    font-size: 2em;
    text-align: center; }
  main img {
    width: 250px;
    display: none; }
    main img.logo-show {
      display: inline; }
    main img#sass-logo {
      height: 200px; }
    main img#grunt-logo {
      height: 200px;
      padding-left: 10px; }
